.Dugme{
    color: red;
    border-color: aqua;
    margin: 20px;
}
#panel{
    /* position: relative; */
    margin-block: 15px;
    border: 1px solid;
    border-color: fuchsia;
    padding: 3.5px;
    max-width: 225px;
    /* padding-right: 90%; */
    float: left;
}
#test{
    margin-block: 15px;
    border: 1px solid;
    border-left: 0px;
    border-color: fuchsia;
    padding: 35px;
    max-width: 225px;
    padding-right: 50%;
    text-align: center;
    
    float: left;
}
#from{
    display: inline-block;
    padding-right: 40px;
    width: auto;
    margin-block: 2.5px;
}
#to{
    display: inline-block;
    padding-right: 40px;
    width: auto;
    margin-top: 2.5px;
}