#panel {
right: auto;
margin-block: 5px;
padding: 12.5px;
width: 300px;
height: 200px;
float: left;
}

#output {
display: block;
/* Koliko je sadržaj udaljen od granice*/
max-width: 400px;
height: 200px;
/* Maksimalna širina*/
border: 1px solid #ccc;
/* Opis granica*/
border-radius: 5px;
/* Zaobljenost ivica*/
margin: 10px 260px;
/* Debljina granica*/
padding-top: 10px;
}

#from {
display: inline;
padding-right: 40px;
width: auto;
margin-block: 2.5px;
}

#to {
display: inline;
padding-right: 40px;
width: auto;
margin-top: 2.5px;
}